<div class="nav-container mb-3">
  <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <div class="container">
      <div class="navbar-brand logo">
        <img src="assets/images/Logo.jpg" />
      </div>
      <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/movies']">Movie list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/actors']">Actor list</a>
          </li>
        </ul>
      </div>
      <div class="navbar-nav ml-auto">
        <div *ngIf="(authService.isAuthenticated$ | async)">
          <span *ngIf="(authService.user$ | async) as user">
            <fa-icon [icon]="faUser"></fa-icon> Welcome {{user.name}}
            <app-logout-button></app-logout-button>
          </span>
        </div>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
